
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}

body {
  background-color: #c4d164;
  color: #333;
  line-height: 1.6;
}

.container {

  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 2rem;
}

header {
 
  color: #fff;
  text-align: center;
 
}
.header{
   color: black
}
@media (max-width:999px) {
  header .profile-photo{
    max-width: 10rem;
    margin: auto;
    border-radius: 5%;
    margin-bottom: 1em;
  
  }
}
@media (max-width: 500px){
  .project-item img[alt="Project 1"]{
    top:-5em
  }
  .header{
    margin: auto;
    width: fit-content;

    margin-bottom: 1em;
  }
}
header{
  background-image: url("background.png");
  background-size: cover;
  
}
@media (max-width: 999px) and (min-width:500px) {
.header--container{
  display: flex;
  flex-direction: column;
  background-color: #799a268e;
  height: 100%;
  border-radius: 2em;
  padding-top: 2em;
  
}
header{
  padding:2em 2em;
}
.project-item img[alt="Project 1"]{
  top:-5em
}
.profile{
  display: flex;
  flex-direction: column;
}


}
@media (min-width: 999px) {

header .aboutme p{
  text-align: left;
  max-width: 26em;
}
.header{
  padding-bottom: 2em;

}
.header--container{
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  background-color: #26879a8e;
  
  /* border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 2em; */
  border-radius: 2em;
  padding-right: 2em;
}
header{
  padding:2em 2em;
}
.profile .info{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2rem;
  justify-content: end

}
.project-item img[alt="Project 1"]{
  top:-8em
}
.profile .info h1{
  font-size: 4rem;
}
.profile-photo {
  width: 280px;

  border-radius: 10%;
  
}
.profile{
  display: flex;
  flex-direction: row;
}
}




h1, h2, h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

section {
  padding: 2rem 0;
}

#resume .button {
  background-color: #333;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.project-item {
  flex: 1;
  min-width: 280px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}
.project-item .image{
  min-width: 10em;
  height: 200px; 
  overflow: hidden; 
  position: relative; 
}
.project-item img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover; /* Maintain aspect ratio, but cover the entire div */
  position: absolute;
  top:0;
  left: 0;
}

.project-item img[alt="Project 3"]{
  top:-2em
}


form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
#resume-timeline {
  padding: 2rem 0;
  background-color: #869d6b5c
}
#resume-timeline .header{
  color:white;
}

.timeline {
  position: relative;
  padding-left: 50px;
  margin: 2rem 0;
  
}

.timeline:before {
  content: '';
  position: absolute;
  left: 25px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #333;
}

.timeline-item {
  margin-bottom: 2rem;
  position: relative;
}

.timeline-item:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 4px solid #333;
  border-radius: 50%;
}

.timeline-content {
  padding: 1rem 1.5rem;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.timeline-content span {
  display: block;
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 1rem;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 1.6;
}
